<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i=0;i<fileList.length;i++){%>
        <% let user = fileList[i].name %>
        <% let email = fileList[i].email %> 
        <div class="user"><%=user%></div>
        <div class="email"><%= email %> </div>
        <% let file = fileList[i].files %> 
        <% for(let x=0;x<file.length;x++){%>
            <% let urlFileName = file[x].replace(/ /g,"%20")%> 
            <a href=<%=`/download/upload?user=${user}&email=${email}&file=${urlFileName}`%>><%=file[x] %> </a>
            
        <%} %>
        <form action="/admin" method="post" enctype="multipart/form-data">
            <input type="hidden" name="name" value="<%= user %>">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="file" name="result" id="result">
            <input type="submit" value="완성">
        </form>
    <%} %> 

</body>
</html>