<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= name %></h1>
    <h4><%= email %></h4>
    <a href="https://retouch.pictures.kro.kr/logout">로그아웃</a>
    <div>
        <% if(fileList.length!==0){%>
            <% for(let i=0;i<fileList.length;i++){%>
                <img height="300px" src="<%= fileList[i] %>" alt="당신의 사진">
                <%} %>
                    <%}else{%>
                        <a href="/">사진제출하러 가기</a>
                        <% } %>
    </div>
    <% if(outcome.length>0){%>
        <div>
            <div>완료</div>
            <a href="https://retouch.pictures.kro.kr/download/outcome?name=<%= name %>&email=<%= email %>"><button>사진모두받기</button></a>
        </div>
        <%}else{%>
            <% if(fileList.length===0){%>
            <%}else{ %>
                <div>작업중입니다</div>
            <%} %>
        <%}%>
</body>

</html>